
/* menyembunyikan tombol aksi */
.site-menubar {
	display: none;
}

.button-group {
	display: none;
}

/* memberikan border pada tabel */
.garis1 { border-right: 1px solid black; border-bottom: 1px solid black; }
.garis2 { border-left: 1px solid black; border-top: 1px solid black; padding: 3px; font-size: 12px}
